*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}


/* Header */

.header{
    height: 10vh;
    width: 100vw;
    background-color: white;
}

.logo{
    width: 10rem;
    margin:2rem 0 0 3rem;
}

.logo-text{
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(255, 184, 158);
}


/* Sidebar */
.sidebar{
    height: 90vh;
    width: 15rem;

    position: fixed;
    float: left;
}

.sidebar-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 8vh;
    
}

.sidebar-list{
    list-style-type: none;
    
}

.sidebar-topic{
    color: rgb(109, 109, 109);
}

.sidebar-buttons{
    margin: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(92, 92, 92);
    font-weight: lighter;
}

.sidebar-buttons:hover{
    background-color: rgb(255, 200, 180);
}

.sidebar-links{
    text-decoration: none;
    color: rgb(92, 92, 92);
}


/* main-page */

.main-container{
    margin: 4rem 0 0 0;
    float: right;
    width: 80vw;
}

.content-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 6vw;
}

.content-element{
    display: flex;
    width: 100%; 
    align-items: end;
    margin: 1rem 0;
}


.content-heading{
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: 400;
}

.content-heading-2{
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 350;
}


.content-navigation{
    margin: 1rem 0 1.5rem 0 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation-button{
    font-size: 1.2rem;
    text-decoration: none;
    color: #ff7f50;
}

.margin{
    margin: 0.5rem;
}

.default-list{
    list-style-type: none;
}

.snippet{
    background-color: rgb(29, 29, 29);
    width: auto;
    padding: 0 5rem 0 1rem;
    border-radius: 10px;
    color: white;
}

/* Avatar */

.avatar-xl-box{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: visible;
    margin: 0.5rem;
    position: relative;

}

.avatar-l-box{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: visible;
    margin: 0.5rem;
    position: relative;
    font-size: 12px;

}

.avatar-s-box{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: visible;
    margin: 0.5rem;
    position: relative;
    font-size: 8px;

}

.avatar-xs-box{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: visible;
    margin: 0.5rem;
    position: relative;

}

.avatar-xl{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.avatar-l{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}

.avatar-s{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}

.avatar-xs{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

}

.online{
    border: 4px double rgb(102, 201, 102);
}

.offline{
    border: 4px double grey;
}

.sleep{
    border: 4px double orange;
}

/* Alerts */

.alert-success{
    background-color: rgb(203, 235, 203);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid rgb(20, 116, 20);
}

.alert-error{
    background-color: rgb(241, 182, 202);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid rgb(211, 37, 37);
}

.alert-warning{
    background-color: rgb(236, 221, 193);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid rgb(233, 165, 19);
}

.alert-info{
    background-color: rgb(193, 239, 247);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid rgb(31, 79, 238)
}

/* Badge */

.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    color: white;
    background-color: red;
    right: 0.2em;
    bottom: 0.2em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    overflow: visible;
}

.icon-box{
    width: 2rem;
    height: 2rem;
    font-size: 8px;
    position: relative;
    overflow: hidden;
}

.icon{
    width: 2rem;
    height: 2rem
}


/* Buttons , I have used icon class aswell for icon button*/

.button-primary{
    border: none;
    cursor: pointer;
    background-color: rgb(255, 218, 7);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 3px;
}

.button-link{
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(44, 128, 197);
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 3px;
}

.button-icon{
    cursor: pointer;
}

.button-floating{
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50%;
    margin: 0.25rem;
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 216, 89);
    box-shadow: 1px 1px 3px 0px grey;
    
}

.floating-img{
    width: 0.75rem;
}

/* Cards */

.card-vertical{
    background-color: rgb(252, 252, 252);
    border-radius: 2px;
    width: 15rem;
    height: 26.5rem;
    box-shadow: 5px 5px 10px 0px rgb(151, 151, 151);
    margin: 1rem;
    position: relative;
    cursor: pointer;
}

.card-img-vertical{
    width: 15rem;
    height: auto;
}

.card-heading{
    font-weight: 500;
    margin: 0 0rem 0 0.5rem;
}

.card-heading-2{
    font-size: 0.65rem;
    font-weight: 300;
    margin: 0rem 0 0 0.5rem;
    color: rgb(77, 77, 77);
}

.addtocart{
    background-color: rgb(38, 40, 61);
    text-align: center;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    margin: auto;
    border-radius: 3px;
}

.price{
    margin: 0.2rem 0 0.75rem 0.5rem;
}

.card-badge{
    position: absolute;
    background-color: #ffa600;
    color: rgb(38, 40, 61);
    font-weight: 400;
    color: white;
    top: 0px;
    left: 0px;
    width: 6rem;
    text-align: center;
    padding: 0 0 0.2rem 0;
}

.card-horizontal{
    background-color: rgb(252, 252, 252);
    border-radius: 2px;
    box-shadow: 5px 5px 10px 0px rgb(151, 151, 151);
    width: 28rem;
    height: 15rem;
    overflow: hidden;
    margin: 1rem;
    display: flex;
    position: relative;
    cursor: pointer;
}

.card-img-horizontal{
    height: 15rem;
}

.card-horizontal-right-section{
    height: 15rem;
    width: 16rem;
    padding: 0.5rem;

}

.addtocart-horizontal{
    background-color: rgb(38, 40, 61);
    text-align: center;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    margin: auto;
    border-radius: 3px;
    position: absolute;
    top: 70%;
    right: 10%;
}

/* Image */

.responsive-image{
    width: 100%;
    height: auto;
}

.responsive-imagediv{
    width: 800px;
    height: 650px;
}

.circular-image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/* Input */

.input{
    padding: 0.5rem 1rem;
    border: 2px double rgb(0, 0, 0);
}

.input-success{
    padding: 0.5rem 1rem;
    border: 2px double rgb(0, 119, 0);
}

.input-error{
    padding: 0.5rem 1rem;
    border: 2px double rgb(255, 0, 0);
}

.input-warning{
    padding: 0.5rem 1rem;
    border: 2px double rgb(255, 166, 0);
}

/* Text Utilities */

.text-box{
    border: 1px solid rgb(56, 66, 214);
    padding: 1rem;
    background-color: rgb(198, 255, 255);
}

H1{
    font-size: 3.5rem;
}

H2{
    font-size: 2.5rem;
}

H3{
    font-size: 2rem;
}

H4{
    font-size: 1.5rem;
}

H5{
    font-size: 1rem;
}

.grey-text{
    color: rgb(153, 153, 153);
}

.centered-text{
    text-align: center;
    width: 100%;
}

/* Modal */

.modal-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    padding: 1.25rem;
    width: 25rem;
    border: 1px solid grey;
    border-radius: 4px;
}

.modal-title{
    font-size: 1rem;
}

.modal-text{
    font-size: 0.75rem;
    color: grey;
    margin: 0.5rem 0 0 0 ;
}

.button-layer{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 0 0 ;
}

.modal-yes-btn{
    border: none;
    padding: 0.25rem 1rem;
    margin: 0.2rem;
    border-radius: 4px;
}

.modal-no-btn{
    border: none;
    padding: 0.25rem 1rem;
    margin: 0.2rem;
    border-radius: 4px;
}

/* Toast */

.toast-box{
    display: flex;
    background-color: rgb(26, 141, 187);
    padding: 0.75rem 2rem;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.toast-cross{
    border: none;
    background-color: rgb(26, 141, 187);
    font-size: 1rem;
    margin-left: 1.25rem;
    color: white;
    font-weight: 500;
}

/* Responsiveness */

@media screen and ( max-width: 850px ){
    .sidebar{
        display: none;
    }
    .main-container{
        width: 100vw;
        float: none;
    }
}